@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    @await Component.InvokeAsync("_UILayoutHeadComponentPartials")
<body>
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartials")
    @RenderBody()
    @await Component.InvokeAsync("_UILayoutFooterComponentPartials")
    @await Component.InvokeAsync("_UILayoutScriptComponentPartials")
</body>
</html>