@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>


    <div class="content">
        <div class="container-fluid">


        <script type="text/javascript">

            $(document).ready(() => {

                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7240/SignalRHub").build();
                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("SendStatistic");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                connection.on("ReceiveCategoryCount", (value) => {
                    $("#categorycount").text(value);
                });

                connection.on("ReceiveProductCount", (value) => {
                    $("#productcount").text(value);
                });
                
                connection.on("ActiveCategoryCount", (value) => {
                    $("#activeCategorycount").text(value);
                });

                connection.on("PassiveCategoryCount", (value) => {
                    $("#passiveCategorycount").text(value);
                });

                connection.on("optionHamburgerCount", (value) => {
                    $("#optionHamburgerCount").text(value);
                });
                connection.on("optionPizzaCount", (value) => {
                    $("#optionPizzaCount").text(value);
                });
                connection.on("avgPrice", (value) => {
                    $("#avgPrice").text(value);
                });
                connection.on("TProductPriceByMax", (value) => {
                    $("#TProductPriceByMax").text(value);
                });
                connection.on("TProductPriceByMin", (value) => {
                    $("#TProductPriceByMin").text(value);
                });
                connection.on("TProductPriceByHamburger", (value) => {
                    $("#TProductPriceByHamburger").text(value);
                });
                connection.on("TTotalOrderCount", (value) => {
                    $("#TTotalOrderCount").text(value);
                });
                connection.on("TActiveOrderCount", (value) => {
                    $("#TActiveOrderCount").text(value);
                });
                connection.on("TLastOrderPrice", (value) => {
                    $("#TLastOrderPrice").text(value);
                });
                connection.on("TTotalMoneyCaseAmount", (value) => {
                    $("#TTotalMoneyCaseAmount").text(value);
                });
                connection.on("TTodayTotalPrice", (value) => {
                    $("#TTodayTotalPrice").text(value);
                });
                connection.on("TMenuTableCount", (value) => {
                    $("#TMenuTableCount").text(value);
                });

            });

        </script>

            <h4 class="page-title">İstatistiklerimiz</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-stats card-warning">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-certificate"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Kategori Sayımız</p>
                                    <h4 class="card-title" id="categorycount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-success">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Ürün Sayımız</p>
                                    <h4 class="card-title" id="productcount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                    <i class="la la-check-circle"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Aktif Kategori Sayımız</p>
                                    <h4 class="card-title" id="activeCategorycount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-primary">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-close"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                    <p class="card-category">Pasif Kategori Sayımız</p>
                                    <h4 class="card-title" id="passiveCategorycount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-stats card-warning">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                    <i class="la la-cutlery
"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Hamburger Çeşidi Sayısı</p>
                                    <h4 class="card-title" id="optionHamburgerCount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-success">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                    <i class="la la-ioxhost
"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                    <p class="card-category">Pizza Çeşidi Sayısı</p>
                                    <h4 class="card-title" id="optionPizzaCount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-money"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Ürünlerin Ortalama Fiyatı</p>
                                    <h4 class="card-title" id="avgPrice"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-primary">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-star"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">En Pahalı Satılan Ürün</p>
                                    <h4 class="card-title" id="TProductPriceByMax"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-stats card-warning">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-tripadvisor"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">En Ucuz Satılan Ürün</p>
                                    <h4 class="card-title" id="TProductPriceByMin"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-success">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-bar-chart"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Ortalama Bir Hamburgerin Fiyatı</p>
                                    <h4 class="card-title" id="TProductPriceByHamburger"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-lemon-o"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Toplam Sipariş</p>
                                    <h4 class="card-title" id="TTotalOrderCount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-primary">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-hourglass-half"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Aktif Sipariş</p>
                                    <h4 class="card-title" id="TActiveOrderCount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-stats card-warning">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-beer"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Son Sipariş Tutarı</p>
                                    <h4 class="card-title" id="TLastOrderPrice"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-success">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-bank"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Kasadaki Tutar</p>
                                    <h4 class="card-title" id="TTotalMoneyCaseAmount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-tags"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Bugünkü Kazanç</p>
                                    <h4 class="card-title" id="TTodayTotalPrice"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats card-primary">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                    <i class="la la-table"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Toplam Masa Sayısı</p>
                                    <h4 class="card-title" id="TMenuTableCount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>



