<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/barandasdemir0">
						Ayarlar
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Yardım
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/barandasdemir0">
						AnaSayfa
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright ml-auto">
			@DateTime.Now.Year, Bu site <a href="https://github.com/barandasdemir0">Baran Daşdemir</a> Tarafından yapılmıştır.
		</div>
	</div>
</footer>